html {
  font-family: "Lexend", sans-serif;
}

body {
  margin: 0;
  background-color: #000;
}

/*CSS Navigation*/

nav {
  z-index: 100;
  background-color: #d10000;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20pt;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

h1 {
  color: #fff;
}

main {
  display: flex;
  justify-content: center;
}

.content {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  width: 100%;
}

/*Serarch*/

.search-all {
  display: flex;
  justify-content: center;
}

.search {
  color: #fff;
  display: flex;
  width: 50vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-section input {
  color: #000;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0px 50px;
  border-radius: 30px;
  width: 20vw;
  height: 3vw;
  margin: 10px 0px;
}

.search-section button {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid #fff;
  color: black;
  width: 10vw;
  height: 2vw;
  align-items: center;
}

.search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*Text Styles*/

h1 {
  color: #d10000;
  font-size: 10vw;
  font-weight: normal;
  text-align: center;
}

.search-section h2 {
  color: white;
}

.about-us-text {
  color: white;
  font-size: 0.8vw;
  font-weight: normal;
  padding-bottom: 10%;
}

/* Show Content */

#games img {
  width: 50%;
  padding-bottom: 10%;
}

html {
  color: white;
}
#movies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.thumbnail {
  width: 40%;
}
